- load order_by_querystring

.row
  .col-sm-8.col-sm-offset-2
    .paginator-container.text-center
      ul.pagination
        -if page_obj.has_previous
          li
            a(href="?p={{ page_obj.previous_page_number }}&{% get_order_by_querytring ordering=ordering %}&{{clean_query_string}}") «
        {% for page in page_obj.paginator.page_range %}
        -if page == page_obj.number
          li.active
            a(href="?p={{ page }}&{% get_order_by_querytring ordering=ordering %}&{{clean_query_string}}") {{ page }}
        -else
          li
            a(href="?p={{ page }}&{% get_order_by_querytring ordering=ordering %}&{{clean_query_string}}") {{ page }}
        {% endfor %}
        -if page_obj.has_next
          li
            a(href="?p={{ page_obj.next_page_number }}&{% get_order_by_querytring ordering=ordering %}&{{clean_query_string}}") »
  .col-sm-2
    strong.text-muted.pull-right
      | {{ objects.start_index }}-{{ objects.end_index }}
      | de {{ paginator.count }}
      | &nbsp;
