{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "import/prefer-default-export": "off",
    "function-paren-newline": "off",
    "lines-between-class-members": "off"
  },
  "globals": {
    "$": true,
    "Dropzone": true,
    "Image": true,
    "document": true,
    "fetch": true,
    "localStorage": true,
    "moment": true,
    "window": true
  }
}
