[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=2.2.15"
django-cron = "==0.5.1"
django-debug-toolbar = "==2.0"
django-form-utils = "==1.0.3"
django-loginas = "==0.3.6"
django-recaptcha = "==2.0.4"
djangocms-admin-style = "==1.4.0"
inflection = "==0.3.1"
ipython = "==7.6.1"
pypugjs = "==5.8.1"
pytz = "==2020.1"
python-memcached = "==1.59"
gunicorn = "==19.9.0"
djangorestframework = "==3.9.1"
djangorestframework-camel-case = "==1.1.2"
django-webpack-loader = "==0.7.0"
psycopg2-binary = "==2.8.5"
ipdb = "==0.13.3"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
