{% csrf_token %}
- for field in form.hidden_fields
  {{field}}

- if form.fieldsets
  - for fieldset in form.fieldsets
    fieldset(class="{{ fieldset.classes }}", data-index="{{forloop.counter0}}")
      {% include "includes/fieldset.pug"%}
- else 
  - for field in form
    {% include "includes/field.pug"%}
