/*
 * Content:
 *
 * Modules
 * Paths
 * Color system
 * Components
 * Typography
 * Navbar
 * Footer
 * Bootstrap variables
 */


// Modules
// ============================================================================

@use "sass:map";


// Paths
// ============================================================================

$images-path: "../img/";
$fonts-path: "../fonts/";


// Color system
// ============================================================================

// set color and set theme color example
$blue-magnet: #28afce;

$colors: (
  "magnet": $blue-magnet
);

$magnet: $blue-magnet;

$theme-colors: (
  "magnet": $magnet
);


// Components
// ============================================================================

$shadow-color: rgb(0 0 0 / 22%);


// Typography
// ============================================================================

$font-size-base-in-px: 16px;

// font-size bootstrap reference for use font-size bootstrap mixin (responsive font size)
// see bootstrap/scss/_type.scss
// see bootstrap/scss/vendor/_rfs.scss
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;

$line-height-base: 1.5;

// Headings
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$headings-line-height: 1.2;

// Displays
$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;

$display-line-height: $headings-line-height;

// Lead paragraph
$lead-font-size: $font-size-base * 1.25;

// Small text
$small-font-size: 80%;


// Navbar
// ============================================================================

$navbar-min-height: 56px;
$navbar-nav-item-link-padding-x: 14.4px;


// Footer
// ============================================================================

$footer-min-height: 56px;


// Bootstrap variables
// ============================================================================

@import "~bootstrap/scss/variables";
