/*
 * Content:
 *
 * Modules
 * Paths
 * Color system
 * Body
 * Utilities maps
 * Components
 * Typography
 * Buttons
 * Navbar
 * Footer
 * Forms
 * Dropdown
 * Close
 * Bootstrap variables
 * Choices variables
 */


// Modules
// ============================================================================

@use "sass:map";


// Paths
// ============================================================================

$images-path: "../img/";
$fonts-path: "../fonts/";


// Color system
// ============================================================================

// Grays
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$grays-rgb: map-loop($grays, to-rgb, "$value");

// Colors
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800
);

// Themes
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");


// Body
// ============================================================================

$body-color: $gray-900;
$body-bg: $white;


// Utilities maps
// ============================================================================

$utilities-colors: map.merge(
  map.merge(
    $theme-colors-rgb,
    map-add-key-prefix($grays-rgb, gray-)
  ),
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($body-bg)
  )
);


// Components
// ============================================================================

$shadow-color: rgb(0 0 0 / 22%);


// Typography
// ============================================================================

$font-size-base-in-px: 16px;

// font-size bootstrap reference for use font-size bootstrap mixin (responsive font size)
// see bootstrap/scss/_type.scss
// see bootstrap/scss/vendor/_rfs.scss
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;

$line-height-base: 1.5;

// Headings
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$headings-line-height: 1.2;

// Displays
$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;

$display-line-height: $headings-line-height;

// Lead paragraph
$lead-font-size: $font-size-base * 1.25;

// Small text
$small-font-size: 80%;


// Buttons
// ============================================================================

$btn-hover-bg-shade-amount: 15%;


// Navbar
// ============================================================================

$navbar-min-height: 56px;
$navbar-nav-item-link-padding-x: 14.4px;


// Footer
// ============================================================================

$footer-min-height: 56px;


// Forms
// ============================================================================

$input-color: $body-color;

$input-disabled-color: $input-color;

// Select
$form-select-disabled-color: $input-disabled-color; // This value can't be `null` for overriding choices styles


// Dropdown
// ============================================================================

$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: shade-color($primary, $btn-hover-bg-shade-amount);


// Close
// ============================================================================

$btn-close-color: $black;
$btn-close-bg: url("data:image/svg+xml,<svg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.26396 4.00002L7.15923 2.10476C7.3918 1.87218 7.3918 1.4951 7.15923 1.26233L6.73801 0.841119C6.50544 0.608543 6.12836 0.608543 5.89559 0.841119L4.00033 2.73638L2.10506 0.841119C1.87248 0.608543 1.4954 0.608543 1.26264 0.841119L0.841424 1.26233C0.608848 1.49491 0.608848 1.87199 0.841424 2.10476L2.73669 4.00002L0.841424 5.89529C0.608848 6.12786 0.608848 6.50494 0.841424 6.73771L1.26264 7.15892C1.49521 7.3915 1.87248 7.3915 2.10506 7.15892L4.00033 5.26366L5.89559 7.15892C6.12817 7.3915 6.50544 7.3915 6.73801 7.15892L7.15923 6.73771C7.3918 6.50513 7.3918 6.12805 7.15923 5.89529L5.26396 4.00002Z' fill='#{$btn-close-color}'/></svg>");


// Bootstrap variables
// ============================================================================

@import "~bootstrap/scss/variables";


// Choices variables
// ============================================================================

$choices-guttering: 0;
$choices-border-radius: $form-select-border-radius;
$choices-bg-color: $form-select-bg;
$choices-bg-color-disabled: $form-select-disabled-bg;
$choices-keyline-color: $form-select-border-color;

// Dropdown
$choices-bg-color-dropdown: $gray-100;
$choices-dropdown-border-width: 0;
$choices-dropdown-border-color: $choices-keyline-color;

$choices-dropdown-item-paddiny-y: $form-select-padding-y;
$choices-dropdown-item-paddiny-x: $form-select-padding-x;
$choices-dropdown-item-font-size: $font-size-base;
$choices-dropdown-item-line-height: $line-height-base;
$choices-dropdown-item-color: $dropdown-link-color;

$choices-dropdown-item-active-color: $dropdown-link-active-color;
$choices-dropdown-item-active-bg: $dropdown-link-active-bg;

$choices-dropdown-item-hover-color: $dropdown-link-hover-color;
$choices-dropdown-item-hover-bg: $dropdown-link-hover-bg;

$choices-dropdown-item-disabled-color: $dropdown-link-disabled-color;

$choices-dropdown-group-item-padding-l: $choices-dropdown-item-paddiny-x * 2;

// Multiple item
$choices-border-radius-item: $badge-border-radius;
$choices-multiple-item-padding-y: 0;
$choices-multiple-item-padding-x: spacer(1);
$choices-multiple-item-bg: $gray-100;
$choices-multiple-item-font-size: $font-size-base;
$choices-multiple-item-line-height: $line-height-base;
$choices-multiple-item-color: $secondary;
$choices-multiple-item-border-width: $border-width;
$choices-multiple-item-border-color: $choices-multiple-item-color;
$choices-multiple-item-spacer: spacer(2);

$choices-multiple-item-disabled-bg: $form-select-disabled-bg;
$choices-multiple-item-disabled-color: $choices-multiple-item-color;
$choices-multiple-item-disabled-border-color: $choices-multiple-item-border-color;

// Remove button
$choices-button-dimension: .5rem;
$choices-button-offset: spacer(1);
$choices-button-color: $choices-multiple-item-color;
$choices-button-disabled-color: $choices-multiple-item-disabled-color;
$choices-button-focus-shadow: $btn-close-focus-shadow;

$choices-icon-cross-svg: str-replace($btn-close-bg, #{$btn-close-color}, #{$choices-button-color});
$choices-icon-cross: escape-svg($choices-icon-cross-svg);

// Heading
$choices-heading-padding-y: $choices-dropdown-item-paddiny-y;
$choices-heading-padding-x: $choices-dropdown-item-paddiny-x;
$choices-heading-font-weight: $font-weight-base;
$choices-heading-font-size: $font-size-base;
$choices-heading-line-height: $line-height-base;
$choices-heading-color: $gray-700;
$choices-heading-border-width: $border-width;
$choices-heading-border-color: $border-color;
