- name: check if Media is being stored in S3
  command: >
    pipenv run python -c
    "try:
      from project.local_settings import USE_S3
    except ImportError:
      USE_S3 = False
    print(USE_S3)"
  args:
    chdir: "{{ server_root_dir }}"
  changed_when: false
  register: use_s3

- name: check Media directory existence
  stat:
    path: "{{ server_root_dir }}/project/media"
    follow: no    # Symlinks are currently untested and unsupported (would require tar --dereference)
    # All of this is not required and defaults to yes:
    get_attributes: no
    get_checksum: no
    get_mime: no
  register: media_dir

- name: fail if no Media directory
  assert:
    # Double test: https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/modules/files/stat.py#L119
    that: media_dir.stat.isdir is defined and media_dir.stat.isdir
    fail_msg: "{{ server_root_dir }}/project/media doesn't exist!"
    quiet: yes
  # This produces a more readable error message than letting it fail later.

- name: set archive variable with current time
  set_fact:
    archive_name: "media-{{ '%Y-%m-%d-%H-%M-%S' | strftime(ansible_date_time.epoch) }}.tgz"

- name: archive local Media
  archive:
    path: "{{ server_root_dir }}/project/media"
    dest: "{{ archive_name }}"
    # Note: name will have local time of the controller
  when: use_s3.stdout == 'False'

- include_tasks: s3-archive.yaml
  when: use_s3.stdout == 'True'
