@import "variables.scss";

body {
    padding-top: 60px;
    padding-bottom: 40px;

    .page-loading-icon {
        display: none;
        left: 10px;
        position: relative;
    }

    &.wait {
        cursor: wait !important;

        .page-loading-icon {
            display: inline-block;
        }
    }
}

.fixed-notification {
    position: fixed;
    right: 30px;
    left: 30px;
    z-index: $zindex-tooltip + 10;
    top: $nav-link-height + 2rem;
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .fixed-notification {
    width: 500px;
    left: auto;
  }
}

.dim {
    -webkit-transition: background 2s; /* For Safari 3.1 to 6.0 */
    transition: background 2s;
}

.highlight {
  @each $color, $value in $theme-colors {
    &.alert-#{$color} {
      background: darken($value, 10%);
    }
  }
}
