extends "base.pug"
- load i18n static

block breadcrumbs
  li.breadcrumb-item
    {% trans 'Password reset confirmation' %}
  

block content
  if validlink

    .alert.alert-info {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}

    form(method="post")
      {% csrf_token %}
      fieldset
        .row
          .col-sm-6
            .form-group(class="{% if form.new_password1.errors %}has-error{% endif %}")
              label.control-label.required(for='id_new_password1') 
                {% trans 'New password' %}:

              input#id_new_password1.form-control(name='new_password1', type='password',
                placeholder="{% trans 'New password' %}")

              span.text-danger.text-right(for="id_new_password1")
                {% for error in form.new_password1.errors %}
                | {{ error }}
                {% endfor %}
          .col-sm-6
            {{ form.new_password1.help_text|safe }}

        .row
          .col-sm-6
            .form-group(class="{% if form.new_password2.errors %}has-error{% endif %}")
              label.control-label.required(for='id_new_password2') 
                {% trans 'Password (again)' %}:

              input#id_new_password2.form-control(name='new_password2', type='password',
                placeholder="{% trans 'Password (again)' %}")
              span.text-danger.text-right(for="id_new_password2")
                {% for error in form.new_password2.errors %}
                | {{ error }}
                {% endfor %}
          .col-sm-6
            {{ form.new_password2.help_text|safe }}

        .row
          .col-sm-6
            .form-group
              .text-right
                input.btn.btn-primary(type='submit', value="{% trans 'Change my password' %}")

  else
    .alert.alert-danger {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
