extends "base.pug"
- load i18n

block content
  .alert.alert-info 
    {% trans "Your password has been set.  You may go ahead and log in now." %}
    a.btn.btn-primary(href="{{ login_url }}") {% trans 'Log in' %}
