extends base.pug
// TODO replace MODEL with the model name

block content
  .text-right
    .btn-group
      a.btn.btn-primary(href="{% url 'MODEL_create' %}")
        i.fa.fa-plus

  table.table.table-bordered.table-hover
    thead
      th ID
      th
      th
    tbody
      for MODEL in object_list
        tr
          td
            a(href="{% url 'MODEL_detail' MODEL.id %}")
              | {{MODEL.id}}
          td
            a(href="{% url 'MODEL_update' MODEL.id %}")
              i.fa.fa-edit
          td
            a(href="{% url 'MODEL_delete' MODEL.id %}")
              i.fa.fa-times

  {% include 'includes/pagination.pug' with objects=object_list %}
