extends base.pug
// TODO replace MODEL with the model name

- load i18n

block content
  .text-right
    .btn-group
      if perms.MODELs.add_MODEL
        a.btn.btn-primary(href="{% url 'MODEL_create' %}")
          i.fa.fa-plus

  table.table.table-bordered.table-hover
    thead
      tr
        th Id
        th {% trans 'name'|capitalize %}
        if perms.MODELs.change_MODEL
          th
        if perms.MODELs.delete_MODEL
          th
    tbody
      for MODEL in object_list
        tr
          td
            a(href="{{ MODEL.get_absolute_url }}")
              | {{MODEL.id}}
          td
            a(href="{{ MODEL.get_absolute_url }}")
              | {{MODEL}}
          if perms.MODELs.change_MODEL
            td
              a(href="{% url 'MODEL_update' MODEL.id %}")
                i.fa.fa-edit
          if perms.MODELs.delete_MODEL
            td
              a(href="{% url 'MODEL_delete' MODEL.id %}")
                i.fa.fa-times

  {% include 'includes/pagination.pug' with objects=object_list %}
