/*
 * Content:
 *
 * Colors
 */


// Colors
// ============================================================================

// stylelint-disable declaration-no-important
@include from-colors using ($name, $value) {
  @include bg-variant(".bg-#{$name}", $value, true);

  .text-#{$name} {
    color: $value !important;
  }

  .text-focus-#{$name}:focus {
    color: $value !important;
  }

  .bg-layer-#{unquote($name)} {
    position: relative;
    background-color: transparent !important;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: "";
      background-color: $value;
    }
  }

  .border-#{$name} {
    border-color: $value !important;
  }

  .text-before-#{$name} {
    &::before {
      color: $value !important;
    }
  }

  .text-after-#{$name} {
    &::before {
      color: $value !important;
    }
  }

  .bg-before-#{$name} {
    &::before {
      background-color: $value !important;
    }
  }

  .bg-after-#{$name} {
    &::before {
      background-color: $value !important;
    }
  }
}
// stylelint-enable declaration-no-important
